.row{
    padding: 20px;
}

div{
    background-color:rgb(166, 173, 169) ;
}

h1{
    display: inline;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
   
}

li h1{
    font-size: large;
    
}
