<div class="row">
    <h1>Habilidades</h1>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="70"
            [radius]="75"
            [showUnits]="false"
            [showSubtitle]="false"
            [outerStrokeWidth]="10"
            [innerStrokeWidth]="4"
            [outerStrokeColor]="'rgb(214, 175, 200)'"
            [innerStrokeColor]="'grey'"
            [animation]="true"
            [animationDuration]="600"
            [imageSrc]="'../assets/html.png'"
            [showImage]="true"
            [imageHeight]="50"
            [imageWidth]="50"
        ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="70"
            [radius]="75"
            [showUnits]="false"
            [showSubtitle]="false"
            [outerStrokeWidth]="10"
            [innerStrokeWidth]="4"
            [outerStrokeColor]="'rgb(214, 175, 200)'"
            [innerStrokeColor]="'grey'"
            [animation]="true"
            [animationDuration]="600"
            [imageSrc]="'../assets/css.png'"
            [showImage]="true"
            [imageHeight]="50"
            [imageWidth]="50"
        ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="60"
            [radius]="75"
            [showUnits]="false"
            [showSubtitle]="false"
            [outerStrokeWidth]="10"
            [innerStrokeWidth]="4"
            [outerStrokeColor]="'rgb(214, 175, 200)'"
            [innerStrokeColor]="'grey'"
            [animation]="true"
            [animationDuration]="600"
            [imageSrc]="'../assets/js.png'"
            [showImage]="true"
            [imageHeight]="50"
            [imageWidth]="50"
        ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="60"
            [radius]="75"
            [showUnits]="false"
            [showSubtitle]="false"
            [outerStrokeWidth]="10"
            [innerStrokeWidth]="4"
            [outerStrokeColor]="'rgb(214, 175, 200)'"
            [innerStrokeColor]="'grey'"
            [animation]="true"
            [animationDuration]="600"
            [imageSrc]="'../assets/gith.png'"
            [showImage]="true"
            [imageHeight]="50"
            [imageWidth]="50"
        ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="30"
            [radius]="75"
            [showUnits]="false"
            [showSubtitle]="false"
            [outerStrokeWidth]="10"
            [innerStrokeWidth]="4"
            [outerStrokeColor]="'rgb(214, 175, 200)'"
            [innerStrokeColor]="'grey'"
            [animation]="true"
            [animationDuration]="600"
            [imageSrc]="'../assets/ingles.png'"
            [showImage]="true"
            [imageHeight]="50"
            [imageWidth]="50"
        ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="100"
            [radius]="75"
            [showUnits]="false"
            [showSubtitle]="false"
            [outerStrokeWidth]="10"
            [innerStrokeWidth]="4"
            [outerStrokeColor]="'rgb(214, 175, 200)'"
            [innerStrokeColor]="'grey'"
            [animation]="true"
            [animationDuration]="600"
            [imageSrc]="'../assets/equipo.png'"
            [showImage]="true"
            [imageHeight]="50"
            [imageWidth]="50"
        ></circle-progress>
    </div>
</div>
