<div class="row">
    <h1>Experiencia Laboral</h1>
    <div class="col-lg-10">
        <ul>
            <li><h1> Residencia de Servicio Social en el Instituto Nacional de 
                Rehabilitación Psicofísica del Sur (INAREPS)</h1>
                <p>Ministerio de Salud de la Nación | Junio 2013 a Mayo de 2016 | Mar del Plata</p>
                </li>
        </ul>
        <ul>
            <li><h1> Rotación en Servicio Social de Atención Primaria de la Salud</h1>
                <p> Junio-Diciembre del 2014 | Mar del Plata</p>
                </li>
        </ul>
        <ul>
            <li><h1> Experiencia profesional supervisada en el Servicio Social del 
                Hospital Privado de Comunidad, en el marco de la rotación libre del tercer 
                año de Residencia</h1>
                <p> Febrero-Marzo del 2016 | Mar del Plata</p>
                </li>
        </ul>
        <ul>
            <li><h1>Integrante del Equipo Interdisciplinario. Asociación Síndrome de Down “Asdemar”</h1>
                <p> 2013-2017 | Mar del Plata</p>
                </li>
        </ul>
        <ul>
            <li><h1> Integrante del Equipo profesional.Centro Nefrológico del Mar (CENEMAR)</h1>
                <p> 2016-2017 | Mar del Plata</p>
                </li>
        </ul>
        <ul>
            <li><h1>Orientadora Social en Equipo de Orientación Escolar de la Escuela Primaria N° 59</h1>
                <p> Suplencia durante el mes de Abril del 2017 | Mar del Plata</p>
                </li>
        </ul>
        <ul>
            <li><h1>Orientadora Social en Equipo de Orientación Escolar del Jardín Provincial N° 917</h1>
                <p> Suplencia durante el mes de Junio 2017 hasta Marzo del año 2021 | Mar del Plata</p>
                </li>
        </ul>
        

    </div>

</div>
