<div class="row">
    <div class="conteiner">
        <div class="logo">
            <img src="../../../assets/APLogo-20-20.png" id="logoAP">
        </div>
        <div class="redes">
            <div>
                <a href=""><img src="../../../assets/linkedin.png" alt=""></a>
                <a href=""><img src="../../../assets/github.png" alt=""></a>
                <a href=""><img src="../../../assets/instagram.png" alt=""></a>
                <button type="button" class="btn btn-outline-light" (click)="login()">ACCESO</button>
            </div>
        </div>
    </div>
</div>
