<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/perfil.jpg" class="img-fluid" id="perfil">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
       <p id="nombre">{{persona.nombre}} {{persona.apellido}} </p>
        <p id="titulo">Lic. en Servicio Social</p>
        <p id="titulo">Full Stack Developer Jr</p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h1>Acerca de Mi</h1>
            <p id="sobreMi">Mi nombre es Natalia, tengo 38 años y vivo en Mar del Plata, Buenos Aires.
				Soy Lic. en Servicio Social, siempre me gusto mucho el área informática y durante la cuarentena finalice una suplencia en educación y comencé autodidacta a profundizar sobre programación y los diferentes lenguajes, me interesa mucho aprender y adquirir conocimientos para comenzar un camino laboral. Lei sobre la importancia del trabajo en equipo y la coordinación en Programación y siento que desde ese punto puedo vincular ambas carreras y fortalecer mi curriculum.
				Tengo mucha expectativa e incertidumbre del recorrido, pero sobre todo mucha energía y buena predisposición para alcanzar los objetivos planteados en cada curso y en el futuro laboral.
				</p>
        </span>
    </div>
    

</div>
