<div class="row">
    <h1>Educación</h1>
    <div class="col-lg-10">
        <ul>
            <li><h1>Estudios Secundarios </h1></li>
            <p>Titulo: Bachiller Modalidad: Economía y Gestión de las Organizaciones.
            Orientación: Emprendimientos empresariales. 
            </p>
            <p>1997-2001</p>
            <p>E.E.M N° 4, “Dr. Julio Cesar Lovecchio”. </p>
            <p> Coronel Suárez, Provincia de Buenos Aires.</p>
                
        </ul>
        <ul>
            <li><h1>Estudios Universitarios</h1></li>
            <p>Licenciatura en SERVICIO SOCIAL. MP. N° 15805.
                <p>Titulo obtenido en el año 2012.</p>
                <p>Facultad de Ciencias de la Salud y Servicio Social. </p>
                <p> Universidad Nacional de Mar del Plata</p>
            
        </ul>
        <ul>
            <li><h1>Cursos</h1></li>
            <li type="circle"><h1>Marketing Digital</h1></li>
            <p>Año: 2021 | Fundación SES. Ministerio de Trabajo, Empleo y Seguridad Social.</p>
                    
            <li type="circle"><h1>"Se Programar”</h1> </li>
            <p>Año: 2021 | Primera Etapa del curso Argentina Programa. </p>
            <li type="circle"><h1>“Yo 
            Programo”</h1>
            <p>Febrero - Agosto de 2022 | Segunda Etapa de Argentina Programa </p>
        
        </li>
               
        </ul>

    </div>

</div>
